<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav th:fragment="nav-bar">
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/myprofile}">Profile</a></li>
    <li><a th:href="@{/userinfo}">User Info</a></li>
    <li><a th:href="@{/feed}">Feed</a></li>
    <li><a th:href="@{/perform_logout}">Log Out</a></li>
  </ul>
</nav>
</body>
</html>