<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #dc3545; /* Bootstrap's danger color */
        }
        span {
            font-size: 20px;
            display: block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/nav-header :: nav-bar"></div>

<h1>404 Not Found</h1>
<span>Sorry, the page you requested could not be found.</span>
</body>
</html>
