<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
<!--    <style>-->

<!--    </style>-->
</head>
<body>
<nav>
    <ul>
        <li><a th:if="${username == null}" th:href="@{/}">Home</a></li>
        <li><a th:if="${username == null}" th:href="@{/login}">Log in</a></li>
        <li><a th:if="${username == null}" th:href="@{/signup}">Sign up</a></li>
        <li><a th:if="${username != null}" th:href="@{/}">Home</a></li>
        <li><a th:if="${username != null}" th:href="@{/myprofile}">Profile</a></li>
        <li><a th:if="${username != null}" th:href="@{/userinfo}">User Info</a></li>
        <li><a th:if="${username != null}" th:href="@{/feed}">Feed</a></li>

        <li><a th:if="${username != null}" th:href="@{/perform_logout}">Log Out</a></li>
    </ul>
</nav>
<p>Welcome To our CodeFellowship Project !</p>
<h3 th:if="${username != null}" th:text="${'Welcome: ' + username }"></h3>
<section id="user-posts"th:if="${username != null}">
    <div class="tab-content" id="createContent">
        <h2>Create a New Post</h2>
        <form action="/create-Post" method="post">
            <label for="body">Post Content:</label>
            <textarea id="body" name="body" required></textarea><br><br>
            <input type="submit" value="Create Post">
        </form>
    </div>
</section>
</body>
</html>
